/* Universal Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif; 
    background-color: #1f2937;
}

/* Link Styling */
a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Unordered List Styling */
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Section Styling-1 */
.section-1 {
    background-color: #1f2937;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 10px 100px;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Logo Styling */
.logo {
    font-weight: 600;
    font-size: 24px;
}
/* sub-section 1 */
.sub-section-1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.hero-container{
    width: 400px;
}
.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-sec-text{
    font-size: 15px;
    color: #e5e7eb;
}

.hero-button{
    padding: 5px 20px;
    margin-top: 10px;
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* style section-2 */
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: white;
}
.info-head{
    font-size: 36px;
    font-weight: 900;
}
.sub-section-2{
    display: flex;
    gap: 30px;
}
.container{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > img{
    max-width: 100%;
    border-radius: 10px;
}
.container > p{
    text-align: center;
}

/* section-3 */
.section-3{
    padding: 20px 200px;
    background-color: #e5e7eb;
    color: #1f2937;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.quote-author{
    text-align: end;
    font-weight: 600;
    font-size: large;
}

/* section-4 */
.section-4{
   display: flex;
   justify-content: center;
   padding: 70px 100px;
   color: #F9FAF8;
   background-color: white;
}
.sub-section-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    background-color: #3882f6;
    padding: 30px 50px;
    border-radius: 5px;
}
.action-section > h4{
    font-size: 30px;
}

.action-section > p{
    font-size: 12px;
}
.action-button{
    border: 1px solid white;
    padding: 5px 20px;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
/* footer */
footer{
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}